<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- Bootstrap Link -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
      <!-- Css link -->
      <link rel="stylesheet" href="/style2.css">
    <title>Booking System</title>
</head>
<body>
  <% if(found == 0){ %>
    <div id="message">
        <div class="alert alert-danger alert-dismissible fade show d-flex align-items-center" role="alert">
            <%= alertMessage %>
        </div> 
    </div>
<% } %> 
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg " style="background-color: #CFFDE1;">
        <div class="container-fluid">
          <a class="navbar-brand logo" href="#">Booking System</a>
          
          <a class="nav-item item1" href="/create-Customer">Create Customer</a>
          <a class="nav-item item2" href="/create-product">Create Booking</a>
          <a class="nav-item item3" href="/">Home</a>
        </div>
        
      </nav>
      <!-- Main body -->
      <div class="create">
        <h1 id="heading">Create Customer</h1>
        <form class="row g-3" action="/create-Customer" method="post">
            <div class="col-12">
              <input type="text" class="form-control" id="Cname" name="cid" placeholder="Enter Customer_id" autocomplete="off" required>
            </div>
            <div class="col-12">
              <input type="text" class="form-control" id="ImageUrl" name="cname" placeholder="Enter Customer name" autocomplete="off" required>
            </div>
            <div class="col-12">
              <input type="email" class="form-control" id="ImageUrl" name="cemail" placeholder="Email" autocomplete="off" required>
            </div>
            <div class="col-12">
              <input type="number" class="form-control" id="ImageUrl" name="cnumber" placeholder="Contact number" autocomplete="off" required>
            </div>
            <div class="col-12">
              <button type="submit"  style = " background-color: #CFFDE1 ; color: #5D9C59;" class="btn button1">Create </button>
            </div>
          </form>
    </div>
</body>
<script>
    function menu(){
        const toogleMenu=document.querySelector('.menu')
        toogleMenu.classList.toggle('active')
    }
</script>
</html>